<div class="user-details">
  <h1>Brief Introduction</h1>
  <p>I am now a first-year graduate student majoring in Mathematical Finance and Fintech in the School of Statistics and Management of Shanghai University of Finance and Economics (SUFE). My tutor is <a href="https://yixuan.blog/">Yixuan Qiu</a>. In fall 2023, I will attend Boston University to study the Mathematical Finance & Financial Technology (MSMFT) program.For more information, please visit my <a href=" https://bobothebest.github.io/homepage_cn/about/">Chinese homepage</a> and <a href="https://bobothebest.github.io/homepage_en/about/">English homepage</a>.</p>
  <p>这里是我的博客主页，欢迎点击我的<a href=" https://bobothebest.github.io/homepage_cn/about/">中文主页</a>或<a href="https://bobothebest.github.io/homepage_en/about/">英文主页</a>了解更多 <span class="love">❤</span> </p>
</div>


